.Component .should-ignore {
    background-color: #000;
}
.Component .should-also-ignore {
    font-size: 16px;
}
.Component .should-not-ignore {
    margin: 0;
}
.Nav, .NavSide {
    margin: 0;
}
.no-animaton .Component {
    display: block;
}
#Component .should-not-ignore {
    margin: 0;
}
#Component .should-not-ignore.should-ignore {
    margin: 0;
}
#Component-ignore .should-not-ignore {
    margin: 0;
}
#Component div:not(.should-ignore, .should-not-ignore) {
    box-sizing: border-box;
}
div:not(.row), div:not(.container), div:not(.col-*) {
    display: none;
}
#id .component-container {
    display: block;
}
.component-container {
    display: block;
}
[class*="col-"], [class^="col-"] {
    display: block;
}
[class*="icon-"], [class^="icon-"] {
    display: block;
}
