html, body {
    font-size: 100%;
    height: 100%;
    position: relative;
}
* {
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.prefix-Component .should-ignore {
    background-color: #000;
}
.prefix-Component .should-also-ignore {
    font-size: 16px;
}
.prefix-Component .prefix-should-not-ignore {
    margin: 0;
}
.prefix-Nav, .prefix-NavSide {
    margin: 0;
}
.prefix-no-animaton .prefix-Component {
    display: block;
}
#prefix-Component .prefix-should-not-ignore {
    margin: 0;
}
#prefix-Component .prefix-should-not-ignore.should-ignore {
    margin: 0;
}
#Component-ignore .prefix-should-not-ignore {
    margin: 0;
}
#prefix-Component div:not(.should-ignore, .prefix-should-not-ignore) {
    box-sizing: border-box;
}
div:not(.row), div:not(.container), div:not(.col-*) {
    display: none;
}
#prefix-id .prefix-component-container {
    display: block;
}
.prefix-component-container {
    display: block;
}
[class*="col-"], [class^="col-"] {
    display: block;
}
[class*="prefix-icon-"], [class^="prefix-icon-"] {
    display: block;
}
